<div class="task-home">
  <ul class="list-group tasks">
    <li *ngFor="let task of tasks" 
        (click)="onSelect(task)" 
        class="list-group-item d-flex justify-content-between align-items-center"
        [ngStyle]="(task.red && {'background-color':'rgb(241, 174, 181)'}) || (task.yellow && {'background-color':'#e8e810'})"
        >
      <img (click)="onImageClick(task)" class="imgSubmit" /> {{task.task_name}}
      <span class="badge badge-primary badge-pill">{{task.task_time}}</span>
    </li>
  </ul>
  <div *ngIf="selectedTask" class="more_info">
    <div>
      <h5>Редактирование
        <span style="position:absolute; right: 15px" (click)="OnSelectClose()" aria-hidden="true">&times;</span>
      </h5>
    </div>
    <div>
      <span>Название задачи:
        <input [(ngModel)]="selectedTask.task_name" class="form-control" placeholder="Название задачи" />
      </span>

    </div>
    <div>
      <span>Дата выполнения:
        <input [(ngModel)]="selectedTask.task_time" class="form-control" placeholder="Дата к которой надо выполнить задание" />
      </span>
    </div>
    <div>
      <label for="description">Описание задачи:
      </label>
      <textarea id = "description" [(ngModel)]="selectedTask.task_description" class="form-control" placeholder="Описание задачи"></textarea>
    </div>
  <div class="dropdown-divider"></div>
    
  </div>
</div>

<div class="myForm">
  <form #f="ngForm" class="ui form">

    <div class="form-group">
      <label for="task_name">Название задачи</label>
      <input type="text" class="form-control" id="task_name" required name="task_name" ngModel />
    </div>
    <div class="form-group">
      <label for="task_desctiption">Описание задачи</label>
      <input type="text" class="form-control" id="task_description" required name="task_description" ngModel/>
    </div>
    <div class="form-group">
      <label for="task_time">Дата выполнения задачи</label>
      <input type="text" class="form-control" id="task_time" required name="task_time" ngModel />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit(f.value); f.reset()">Добавить новую задачу</button>
  </form>
</div>