.liEllipsis:first-child .upbutton {
    display: none;
}
.liEllipsis:last-child .downbutton {
    display: none;
}
.tasks {
    width: 250px;
}
.task-home {
    display: flex;
    flex-direction: row;
}
.more_info {
    margin-left: 15px;
}
.myForm {
    width: 250px;
    margin-left: 15px;
}
img.imgSubmit {
    height: 25px;
    width: 25px;
    content: url(/assets/img/unsubmit.png)

}
img.imgSubmit:hover {
    content: url(/assets/img/submit.png)
}
@media only screen and (max-width: 500px) {
    img.imgSubmit {
        height: 25px;
        width: 25px;
        content: url(/assets/img/submit.png)
    }
    .task-home {
        display: flex;
        flex-direction: column;
    }
    .tasks {
        width: 100%;
    }
    .myForm {
        width: 250px;
        margin: 15px auto;
        text-align: center;
    }
    .more_info {
        margin: 15px !important;
    }
}